{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<body>
    <div class="analysis-container">
        <div class="placeholder-section">
    <h1>Welcome, {{ NME }}</h1>

    
    <h2>Incomes</h2>
        <ul>
        {% for income in response.incomes %}
            <li>{{ income.type }} - ${{ income.amount }} </li>
        {% endfor %}
        {% if A.totalIncome %}
        <p>Total Income = ${{ A.totalIncome }}</p>
        {% endif %}
        </ul>

    <h2>Assets</h2>
        <ul style="list-style-type:none;">
        {% for asset in response.assets %}
            <li>{{ asset.type }} - ${{ asset.value }}</li>

        {% endfor %}
        {% if A.totalAssets %}
        <p>Total Assets = ${{ A.totalAssets }}</p>
        {% endif %}
        </ul>

    <h2>Liabilities</h2>
        <ul>
        {% for li in response.liabilities %}
            <li>{{ li.type }} - ${{ li.amountOwed }}</li>
        {% endfor %}
        {% if A.totalLiabilities %}
        <p>Total Liabilities = ${{ A.totalLiabilities }}</p>
        {% endif %}
        </ul>
    </div>
</div>

</body>

{% endblock %}