{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<body>

    <h1>Welcome, {{ NME }}</h1>

    
    <h2>Incomes</h2>
        <ul>
        {% for income in response.incomes %}
            <li>{{ income.type }} - ${{ income.amount }} </li>
        {% endfor %}
        <p>Total Income = ${{ A.totalIncome }}</p>
        </ul>

    <h2>Assets</h2>Income
        <ul>
        {% for asset in response.assets %}
            <li>{{ asset.type }} - ${{ asset.value }}</li>

        {% endfor %}
        <p>Total Assets = ${{ A.totalAssets }}</p>
        </ul>

    <h2>Liabilities</h2>
        <ul>
        {% for li in response.liabilities %}
            <li>{{ li.type }} - ${{ li.amountOwed }}</li>
        {% endfor %}
        <p>Total Liabilities = ${{ A.totalLiabilities }}</p>
        </ul>


</body>

{% endblock %}