<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script>
    // Handle create blog submission

    </script>

</head>
<body>
    <nav class="navbar">
        <div class="logo">Trash Panda Calculator</div>
        <div id="nav-container" class="nav-links"></div>
    </nav>

        <div class="tag-filters">
            <a href="/blog">All</a> 
            <a href="/blog?tag=savings">Savings</a> 
            <a href="/blog?tag=debt">Debt</a> 
            <a href="/blog?tag=profits">Profits</a>
            <a href="/blog?tag=advice">Advice</a>
            <a href="/blog?tag=loans">Loans</a>
            <a href="/blog?tag=investment">Investment</a>
        </div>        
        <!-- Existing Posts -->
        {% for post in posts %}
            <div class="post-form-container">
                <h3>{{ post.title }}</h3>
                <p><strong>Tag:</strong> {{ post.tag }}</p>
                <p><strong>Author:</strong> {{post.author.firstName}}</p>
                <p>{{ post.text }}</p>
		
		<!--Currently this does not work yet-->
                {% if post.comments %}
                <div>
                    <h4>Advisor Comments:</h4>
                    <ul>
                        {% for comment in post.comments %}
                            <li>{{ comment.text }} (By <strong>{{ comment.advisor.firstName }} {{ comment.advisor.lastName }})</strong></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if session.get('isAdvisor') %}
                <div class="form-group">
                    <form method="POST" action="{{ url_for('pages_bp.add_comment') }}">
                        <input type="hidden" name="blog_id" value="{{ post.id }}">
                        <label for="text">Add Comment:</label>
                        <textarea name="text" rows="3" cols="50"></textarea><br>
                        <button type="submit">Save Comment</button>
                    </form>
                </div>
                {% endif %}
            </div>
            
        {% else %}
            <p>No blog posts found.</p>
        {% endfor %}


    <script src="{{ url_for('static', filename='./js/user-index.js') }}"></script>
</body>
</html>
